<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <input class="form-control me-2" (keyup)="search() " [(ngModel)]="substr" type="search" placeholder="Search" aria-label="Search"/>

        <ul class="list-group" *ngIf="Products">
          <li class="list-group-item">sku</li>
          <li class="list-group-item" *ngFor="let product of Products">
            <a>{{product.sku}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>